{% extends 'base.html.twig' %}

{% block title %}List Page{% endblock %}

{% block body %}
    <style>
        .card-group .card-body { margin: 1em auto; padding: 3px;}
        .card {margin-top: 8%; margin-left: 30px;}
        .card:hover{
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

        }
        #lifePoint{width: 40px;
            height: 40px;
            border-radius: 20px;
            background: #999999; }

        #attack{width: 40px;
            height: 40px;
            border-radius: 20px;
            background: cadetblue; }

        .card-img-top {

        }
    </style>
    {% include 'layout/navbar.html.twig'%}

    <ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 80%; margin-left: 30px; margin-top: 50px">
        <li class="nav-item">
            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Site Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="card-tab" data-toggle="tab" href="#cards" role="tab" aria-controls="profile" aria-selected="false">Cards List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cat-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="contact" aria-selected="false">Categories List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link container-create" id="createCard-tab" data-toggle="tab" href="#card" role="tab" aria-controls="contact" aria-selected="false">card creation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link container-category" id="createCat-tab" data-toggle="tab" href="#category" role="tab" aria-controls="contact" aria-selected="false">category creation</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <div class="container">
                <div Class="row justify-content-center">
                    <h1>Site Users</h1>
                    <table Class="table">
                        <thead>
                        <tr>
                            <th> First name </th>
                            <th> Name </th>
                            <th> E-mail </th>
                            <th> Birth Date</th>
                            {% if is_granted("ROLE_ADMIN") %}
                            <th>Action </th>
                            {% endif %}
                            <!--  <th colspan="3"> Action</th> -->
                        </tr>
                        </thead>
                        {% for user in user_list %}
                            <tr>
                                <td>{{ user.firstName }} </td>
                                <td>{{  user.lastName|upper }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.birthDate|date('d F Y') }}</td>
                                    <td>
                                        {% if is_granted("ROLE_ADMIN") %}
                                        <a class="btn btn-info" href="{{ path('user_edit', {'id': user.id}) }}" style="">Edit</a>
                                    <a class="btn btn-danger" href="{{ path('user_delete', {'id': user.id}) }}" style="">Delete</a>
                                        {% endif %}
                                    </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if is_granted('ROLE_ADMIN') %}
                        <button>  <a href="{{ path('user-create') }}">Create a new user </a></button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="cards" role="tabpanel" aria-labelledby="card-tab">
            <div class="container" style="background: #FFFFFF;">
                <h3 style="text-align: center;">Cards List</h3>
                <div class="row">
                    {% for card in cardList  %}
                        <div class="col-4-lg ml-3">
                            <div class="card" style="width: 18rem;">
                                <div class="p-3">
                                    <div class="img"
                                         style="background-image: url({{ asset('uploads/cards/' ~ card.image) }});"></div>
                                </div>

                                <div class="card-body" style="margin-top: -20px;">
                                    <h5 class="card-title">{{ card.title|upper }}</h5>
                                    <div class="grid-3 mt-2" style="margin-left: 50px;">
                                        <div class="card-info" style="background: #999999">
                                            <p>{{ card.lifePoint }}</p>
                                        </div>

                                        <div class="card-info" style="background: cadetblue;">
                                            <p>{{ card.attack }}</p>
                                        </div>
                                    </div>
                                    <div class="grid-3 text-center" style="margin-left: 60px;">
                                        <p class="card-info-desc">lifePoint</p>
                                        <p class="card-info-desc">Attack</p>
                                    </div>
                                    <div style="text-align: center; margin-bottom: 20px; margin-top: -5px;">{{ card.getCategory.name|upper }}</div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Create by :  {% if card.getUser is not empty %}
                                            <span style="font-weight:bold;"><td>{{ card.getUser.lastName|upper }}</td></span>
                                        {% endif %}</small>
                                </div>
                                {% if is_granted("ROLE_ADMIN") %}
                                <div class="card-footer" style="text-align: center;">
                                    <a href="{{ path('card_edit', {'id': card.id}) }}" class="btn btn-info">Edit</a>
                                    <a href="{{ path('card_delete', {'id': card.id}) }}" class="btn btn-danger">delete</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="cat-tab">
            <div class="container">
                <div Class="row justify-content-center">
                    <h1>List of categories</h1>
                    <table Class="table">
                        <thead>
                        <tr>
                            <th> Id </th>
                            <th> name </th>
                        </tr>
                        </thead>
                        {% for cat in categories  %}
                            <tr>
                                <td>{{ cat.id }} </td>
                                <td>{{ cat.name|upper }}</td>
                                <td>
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <a href="{{ path('category_edit', {'id': cat.id}) }}" class="btn btn-info">Edit</a>
                                        <a href="{{ path('category_delete', {'id': cat.id}) }}" class="btn btn-danger">delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="card" role="tabpanel" aria-labelledby="createCard-tab">
            <div class="cardMain">
            </div>
        </div>

        <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="createCat-tab">
                    <div class="category">

                    </div>
                </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){

            $(".container-create").click(function(e){
                e.preventDefault();
                console.log('test');
                $.ajax({url: "/card-create", success: function(result){
                        $(".cardMain").html(result);
                    }});
            });
            $(".container-category").click(function(e){
                e.preventDefault();
                console.log('test');
                $.ajax({url: "/category-create", success: function(result){
                        $(".category").html(result);
                    }});
            });
        });
        $('#container').on('submit','form', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function success(response) {
                    $('Container').load($('.active').attr('href'));
                }

            })
        });
    /*    $('nav a').click(function (e){
            e.preventDefault();
            $('nav a').removeClass('active');
            $(this).addClass('active');
            $("Container").load($(this).attr('href'))
        });*/
    </script>
{% endblock %}

